<!DOCTYPE html>
<html>
  <head>
    <title>Weather API</title>
      <meta name="viewport" content="width=device-width, inital-scale=1.0">
      <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    {% include "includes/_navbar.html" %}
    <div class="container">

      <!-- child template -->
      {% block content %}{% endblock %}

      <!-- errors -->
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}</p>
      {% endif %}

      {% for message in get_flashed_messages() %}
        {{ message }}
      {% endfor %}
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  </body>
</html>
